<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.win7.restapitest">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".screens.login_screen.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".screens.orders_in_group_screen.OrdersInGroupActivity" />
        <activity android:name=".screens.restaurant_menu_screen.RestaurantMenuActivity" />
        <activity android:name=".screens.order_screen.OrderFragmentActivity" />
        <activity android:name=".screens.main_screen.MainActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".screens.sign_up_screen.SignUpActivity" />
        <activity android:name=".screens.error_screen.ErrorActivity"></activity>
    </application>

</manifest> <!-- .screens.main_screen.MainActivity" -->
